ul {
   display: "flex";
   align-items: "center";
   height: "75px";
   list-style: "none";
   margin: "0";
   padding: "5px";
   overflow: "hidden";
   background: "#333";
   color: "white";
}

.list-style {
    color: "white";
    text-decoration: "none";
    margin: "20px";
}