html {
  background-color: rgba(70, 5, 114, 0.842);
}

.fullPost {
  background-color: rgba(70, 5, 114, 0.842);
  color: whitesmoke;
}

.fullPost img {
  max-width: 800px;
  max-height: 800px;
  border-radius: 5px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 10px;
  margin-left: 15px;
}

.fullPost p {
  margin-left: 15px;
  width: 800px;
}
