.likes {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(158, 112, 112);
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.circle {
  display: grid;
  justify-items: center;
  align-items: center;
}

.buttons {
  text-align: center;
}

button {
  background-color: rgb(223, 133, 30);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.even {
  background-color: rgb(128, 156, 104);
}

.odd {
  background-color: rgb(247, 112, 112);
}
