.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 3px #333;
    display: inline-block;
    margin: 20px;
}


.circle:hover {
    cursor: url(./brush.png), auto;
}

.circle.active {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
    background: url(./hamsteri.jpg) no-repeat center center/cover;
}



